@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.authContainer {
    font-family: 'Noto Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  max-width: 400px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.authTitle {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.authForm {
  width: 100%;
}

.formGroup {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left; /* Выравнивание текста по левому краю */
}

.inputField {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submitButton, .toggleButton {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #696a6a;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s;
}

.submitButton:hover, .toggleButton:hover {
  background-color: #b33c00;
}

/* .buttonGroup {
  width: 100%;
} */



