@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.container {
	font-family: 'Noto Sans', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center;
}

.productName {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.productDescription {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.productPrice {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.productImage {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.addToCartButton {
  background-color: #696a6a;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px; 
}

.addToCartButton:hover {
  background-color: #b33c00;
}



